<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cuisine - Pierrick Libert</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <a href="/en" class="logo">
          <img src="<%= Routes.static_path(@conn, "/images/cuisine-logo.png") %>" alt="Pierrick Libert Cuisine Logo"/>
        </a>
        <nav role="navigation" class="navigation">
          <ul>
            <li class="menu"><a href="/en">Home</a></li>
            <li class="menu"><a href="/en">Recipes</a></li>
            <li class="menu"><a href="/en">Tips</a></li>
            <li class="social"><a href="https://www.instagram.com/pierricklibert/" class="fa fa-instagram"></a></li>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
